.main{
    min-height: 80vh;
    height: 100%;
    width: 100%;
}
.arrayCourses{
    width: 100%;
    box-shadow: 0px 0px 2px gray;
    display: flex;
}
.input_price{
    margin-left: 10px;
}
.button_price{
    margin-left: 10px;
}
.not_found{
    margin-top: 50px;
}